<% content_for :title, @insight.name %>
<script>
  Dataclips.config = {
    locale:       '<%= I18n.locale %>',
    id:           '<%= @clip_id %>',
    url:          '<%= insight_path(@insight) %>',
    schema:       <%= raw @schema.to_json %>,
    headers:      <%= raw @headers.to_json %>,
    variables:    <%= raw @variables.to_json %>,
    translations: <%= raw I18n.t("dictionaries", scope: "dataclips", default: {}).to_json %>
  };

  $(window).resize(function(){
    $("#grid, #filters, #sidebar").css("height", $(window).height());
  });

  $(document).ready(function(){
    $(window).trigger("resize");

    Dataclips.proxy = new Backbone.Model({total_entries_count: 0, percent_loaded: 0, entries: [], entries_count: 0, grid_entries: [], grid_entries_count: 0})

    Dataclips.proxy.on("change", _.debounce(function(model){
      try { window.parent.postMessage(model.toJSON(), "*") } catch(err) {
        // debugger
      }
    }));
    Dataclips.run();
  });
</script>

<div id="grid"></div>

<div id="filters">
  <div id="sidebar">
      <% @schema.each do |key, options| %>
        <% next unless options[:filter] %>
        <% id = "#{@clip_id}_#{key}".parameterize %>

        <label class="main" for="<%= id %>">
          <div class="row">
            <div class="col-xs-6">
              <%= @headers[key] %>
            </div>
            <div class="col-xs-6">
              <div class="text-right">
                <button data-key="<%= key %>" class="reset"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </div>
        </label>

        <div class="row">
          <%= render options[:type], key: key, id: id, dictionary: options[:dictionary] %>
        </div>
      <% end %>
  </div>
  <div id="toggle">
    <a href="#" class="hide-filters">
      <i class="fa fa-chevron-circle-right"></i>
    </a>

    <a href="#filters" class="show-filters">
      <i class="fa fa-chevron-circle-left"></i>
    </a>

    <div class="actions">
      <a href="#" class="reload">
        <i class="fa fa-refresh"></i>
      </a>

      <a href="#" class="fullscreen">
        <i class="fa fa-expand"></i>
      </a>

      <a href="<%= download_insight_url(@insight, I18n.locale) %>">
        <i class="fa fa-download"></i>
      </a>
    </div>

  </div>
</div>

<div id="modal"></div>
<div id="counters">
 <span class="grid_entries_count">0</span> / <span class="total_entries_count">0</span>
</div>

<canvas id="progress" width="240" height="240"></canvas>
