<% content_for :title, @clip_id %>
  <script>
    Dataclips.config = {
      locale: '<%= I18n.locale %>',
      id: '<%= @clip_id %>',
      url: '<%= insight_path(@insight) %>',
      schema: <%= raw @schema.to_json %>,
      headers: <%= raw @headers.to_json %>,
      variables: <%= raw @variables.to_json %>
    };

    $(window).resize(function(){
      $("#grid").height($(window).height() - 120);
    });

    $(document).ready(function(){
      $(window).trigger("resize");
      Dataclips.run();
    });
  </script>
<div class="panel panel-default" id="dataclip">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-10"><h4><%= I18n.t("#{@clip_id}.name", scope: "dataclips", default: @clip_id.humanize) %></h4></div>
      <div class="col-lg-2">
       <a class="btn btn-primary" href="<%= export_insight_path(@insight, format: :csv) %>">
         <span class="glyphicon glyphicon-download"></span> CSV
       </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-10">
        <div id="grid"></div>
      </div>
      <div class="col-lg-2">
        <span class="count">0</span> / <span class="total_entries">0</span>

        <form>
          <% @schema.each do |k, options| %>
            <div class="form-group">
              <% if options[:type] == "text" %>
                <label class="control-label" for="<%= @clip_id %>_<%= k %>"><%= @headers[k] %></label>
                <div class="input-group">
                <% if dict = options[:dictionary] %>
                  <input class="form-control typeahead" id="<%= @clip_id %>_<%= k %>" name="<%= k %>" type="text" autocomplete="off" placeholder="<%= k %>" />
                  <script>
                    var <%= dict %> = new Bloodhound({
                      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
                      queryTokenizer: Bloodhound.tokenizers.whitespace,
                      local: <%= raw Dataclips::Engine.config.dictionaries[dict.to_sym].call(I18n.locale).map{|i| {value: i}}.to_json %>
                    });

                    <%= dict %>.initialize();

                    $('#<%= @clip_id %>_<%= k %>').typeahead({
                      hint: true,
                      highlight: true,
                      minLength: 1
                    },
                    {
                      name: '<%= dict %>',
                      displayKey: 'value',
                      source: <%= dict %>.ttAdapter()
                    })
                  </script>
                <% else %>
                  <input class="form-control fuzzy" id="<%= @clip_id %>_<%= k %>" name="<%= k %>" type="text" autocomplete="off" placeholder="<%= k %>" />
                <% end %>
              </div>
              <% end %>
            </div>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "twitter/bootstrap" %>

