<%- content_for :title do %>
 <%= @insight.clip_id %> / <%= @insight.name %>
<% end %>
<script>
  Dataclips.config = {
    locale:       '<%= I18n.locale %>',
    id:           '<%= @clip_id %>',
    name:         '<%= @insight.name %>',
    filename:     '<%= (@insight.name.present? ? @insight.name : @insight.clip_id).parameterize %>',
    url:          '<%= insight_path(@insight) %>',
    schema:       <%= raw @schema.to_json %>,
    headers:      <%= raw @headers.to_json %>,
    variables:    <%= raw @variables.to_json %>,
    time_zone:    '<%= @insight.time_zone %>',
    translations: <%= raw I18n.t("dictionaries", scope: "dataclips", default: {}).to_json %>
  };

  $(window).resize(function(){
    $("#grid, #filters, #sidebar").css("height", $(window).height());
  });

  $(document).ready(function(){
    $(window).trigger("resize");

    Dataclips.proxy = new Backbone.Model({total_entries_count: 0, percent_loaded: 0, entries: [], entries_count: 0, grid_entries: [], grid_entries_count: 0})

    Dataclips.proxy.on("change", _.debounce(function(model){
      try { window.parent.postMessage(model.toJSON(), "*") } catch(err) {
        debugger
      }
    }));
    Dataclips.run();
  });
</script>

<div id="grid"></div>

<div id="filters">
  <div id="sidebar">
      <% @schema.each do |key, options| %>
        <% next unless options[:filter] %>
        <% id = "#{@clip_id}_#{key}".parameterize %>

        <label class="main" for="<%= id %>">
          <div class="row">
            <div class="col-xs-6">
              <%= @headers[key] %>
            </div>
            <div class="col-xs-6">
              <div class="text-right">
                <button data-key="<%= key %>" class="reset"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </div>
        </label>

        <div class="row">
          <%= render options[:type], key: key, id: id, dictionary: options[:dictionary] %>
        </div>
      <% end %>
  </div>
  <div id="toggle">
    <a href="#" class="hide-filters">
      <i class="fa fa-chevron-circle-right"></i>
    </a>

    <a href="#filters" class="show-filters">
      <i class="fa fa-chevron-circle-left"></i>
    </a>

    <div class="actions">
      <a href="#" class="reload">
        <i class="fa fa-refresh"></i>
      </a>

      <a href="#" class="fullscreen">
        <i class="fa fa-expand"></i>
      </a>

      <a href="<%= download_insight_url(@insight, I18n.locale) %>" class="download">
        <i class="fa fa-download"></i>
      </a>
    </div>

  </div>
</div>

<div id="modal"></div>
<div id="counters">
 <span class="grid_entries_count">0</span> / <span class="total_entries_count">0</span>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Download</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="filename" class="control-label">Filename:</label>
            <div class="input-group">
              <input type="text" class="form-control" id="filename" placeholder="<%= (@insight.name.present? ? @insight.name : @insight.clip_id).parameterize %>" value="<%= (@insight.name.present? ? @insight.name : @insight.clip_id).parameterize %>" required>
              <div class="input-group-addon">.xlsx</div>
            </div>
          </div>
        </form>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Download</button>
      </div>
    </div>
  </div>
</div>


<canvas id="progress" width="240" height="240"></canvas>
