<div class='input-group datetime' id='<%= id %>_from' rel="<%= key %>_from" >
  <input class="form-control datetime" name="<%= key %>_from" />
  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
</div>

<div class='input-group datetime' id='<%= id %>_to' rel="<%= key %>_to">
  <input class="form-control datetime" name="<%= key %>_to" />
  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
</div>

<script>
  $(document).ready(function(){
    var fromPicker = $('#<%= id %>_from').datetimepicker({
      sideBySide: true,
      locale: '<%= I18n.locale %>',
      format: "L HH:mm:ss"
    });

    var toPicker = $('#<%= id %>_to').datetimepicker({
      sideBySide: true,
      locale: '<%= I18n.locale %>',
      format: "L HH:mm:ss"
    });
  });
</script>
