<% %w(from to).each do |suffix| %>
<div class="col-md-6">
  <div class='input-group datetime' id='<%= id %>_<%= suffix %>_picker' rel="<%= key %>_<%= suffix %>" >
    <input id='<%= id %>_<%= suffix %>' class="form-control datetime" placeholder="<%= suffix %>" name="<%= key %>_<%= suffix %>" />
    <span class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </span>
  </div>
</div>
<% end %>

<script>
  // $(document).ready(function(){
  //   var options = {
  //     sideBySide: false,
  //     locale: '<%= I18n.locale %>',
  //     format: "L HH:mm:ss",
  //     icons: {
  //       time:     "fa fa-clock-o",
  //       date:     "fa fa-calendar",
  //       next:     "fa fa-chevron-right",
  //       previous: "fa fa-chevron-left",
  //       up:       "fa fa-chevron-up",
  //       down:     "fa fa-chevron-down"
  //     }
  //   }

  //   var fromPicker = $('#<%= id %>_from_picker').datetimepicker(options);
  //   var toPicker = $('#<%= id %>_to_picker').datetimepicker(options);
  // });
</script>
