<div class='input-group'>
  <input type='number' id="<%= id %>_from" step="1" class="form-control" id='<%= id %>' placeholder="<%= key %>_from" />
</div>


<div class='input-group'>
  <input type='number' id="<%= id %>_to" step="1" class="form-control" id='<%= id %>' placeholder="<%= key %>_to" />
</div>
