<div class="dataclips-filters form-group" style="text-align: right">
  <%= select_tag "#{id}_filter", options_for_select(options_for_select, default_filter), class: "form-control" %>
</div>

<script>
  var frameID     = '<%= id %>'
  var frame       = document.getElementById(frameID);
  var jFrame      = $(frame)

  var filterSets    = <%= raw filters_sets.to_json %>;

  $('#<%= "#{id}_filter" %>').on("change", function(e){
    var filter = e.target.value;
    jFrame.trigger("dataclips-filters", filterSets[filter])
  });

  setTimeout(function(){
    $('#<%= "#{id}_filter" %>').trigger("change");
  }, 2000);
</script>
