<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag *Dataclips::Engine.config.themes[@theme]["css"], media: "all" %>
  <%= javascript_include_tag "dataclips/dist/bundle.js", "dataclips/vendor/bootstrap-datetimepicker.min" %>
  <% if Dataclips::Engine.config.include_js.present? %>
    <%= javascript_include_tag Dataclips::Engine.config.include_js %>
  <% end %>
</head>
<body class="theme-<%= @theme %> <%= ('with-sidebar' if @sidebar) %>">
<%= yield %>
</body>
</html>
