<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "dataclips/application", media: "all" %>
  <%= javascript_include_tag "dataclips/application" %>
  <% if Dataclips::Engine.config.include_js.present? %>
    <%= javascript_include_tag Dataclips::Engine.config.include_js %>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
