<div class="alert alert-danger" role="alert"><%= @error %></div>
<div class="well">
<form action="<%= clip_path(@clip_id) %>" method="get" class="form-horizontal">
  <% @variables.each do |variable, options| %>
  <div class="form-group">
    <label for="<%= variable %>" class="control-label">
    <%= variable %>
    </label>
    <input id="<%= variable %>" name="<%= variable %>" type="<%= options[:type] %>" value="<%= params[variable.to_sym] %>"/>
  </div>
  <% end %>
  <input type="submit" />
</form>
</div>
